@import "config";


// HIGHLIGHTED CATEGORY PROMO
.highlights {
    .module-heading {
        background: $base4 url('../../images/post-highlights.png') no-repeat center center;
        background-size: cover; 
        padding: 22px;
        margin-top: 0;
        margin-bottom: 0;
        height: 150px;
        overflow: hidden;
    }

    ul.highlights-list {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 0;
        padding: 0;

        li {
            padding: $space-third $space;
            margin-bottom: 2px;

            .site-name,
            .blog-name,
            .post-date,
            .post-categories,
            .category {}
            .post-title,
            .entry-title {}
            .post-excerpt,
            .post-author {}
			.post-excerpt,
            .entry-content {}
        }
        
    }
    
    .entry-content ul {}
}

.highlights,
.widget {
    .entry-meta {}
}

